// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body{
	padding: 30px 0;
}

.get-image{
	background-color: #333;
	min-height: 300px;
}